html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#canvas-container {
    border-width: 5px; 
    border-style: solid; 
    border-color: darkblue; 
    overflow: hidden;
    border-radius: 50%;
    background-color: black; 
    margin: 20px auto; 
    transition: border-color 0.5s ease; 
}

#canvas-container:hover {
    border-color: blue; 
}
